{% extends 'base.html' %}
{% load static%}
{% block body %}
 <section class="text-center about">
      <h1 style="padding-bottom: 80px; padding-top: 25px;">About US</h1>
      <div class="container">
        <div class="row">
          <div class=" col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
            <span class="fa fa-group" style="padding-bottom: 30px;"></span>
            <h2 style="padding-bottom: 30px;">MyBlog</h2>
            <p class="lead">This is blogging website , here your can get awesome blogs posted by diffrent user.</p>
          </div>
          <div class=" col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-info" style="padding-bottom: 30px;"></span>
            <h2 style="padding-bottom: 30px;">Feature </h2>
            <p class="lead">Here your will get all types of blogs  </p>
            <p class="lead">You will able to post your blogs just by creating your accout  </p>
            <p class="lead">You will able to read the post posted by different user accross the world   </p>
          </div>
          <div class="clearfix visible-md-block visible-sm-block"></div>
          
        </div>
        
      </div>
    </section>

{% endblock %}