{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
  .headingb {
    background-color: #e0d9d9;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;

  }

  .responsive {
    width: 100%;
    height: auto;
  }

  label {
    font-weight: bold;
  }
</style>
<h1 class="headingb">Post Your Awesome Blog !!</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 ">
      <!-- form  -->
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter the title of Your Post " name="title">
        </div>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Catagories</label>
          <select id="disabledSelect" class="form-select" name="caty">
            {% for i in caty %}
            <option value="{{i.name}}" >{{i.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Choose Image for Your Post</label>
          <input type="file" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Enter your content</label>
          <textarea name="content" id="" cols="30" rows="5" class="form-control tinymce"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Post</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}